@font-face {
    font-family: Noelan;
    src: url(../fonts/noelan.otf);
}

h1 {
    font-family: Noelan;
    color: rgb(63, 63, 63);
}

body {
    background-image: url(../images/default/bg.jpg);
    background-color: #f2e6e6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
    
main {
    flex: 1 0 auto;
}
    

nav {
    height: 85px;
}

#logo {
    height:80px;
}

#nav-mobile li a {
    padding-top: 10px;
    padding-bottom: 10px; 
}

#dd1 li a {
    /* color: #78A480; */
}

.nav-wrapper {
    background-color: #c2cba7;
}

.page-footer {
    background-color: #c2cba7;
    padding-top: 0;
}

#ackermax {
    width: 20px;
    height: 20px;
}

.fa {
    color: black;
    width: 20px;
    margin: 2px;
}

#center-img {
    margin: 0 auto;
}