@font-face {
    font-family: Noelan;
    src: url(../fonts/noelan.otf);
}
@font-face {
    font-family: "Nanum";
    src: url(../fonts/nanum.ttf);
}
@font-face {
    font-family: "Nanum bold";
    src: url(../fonts/nanumBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Milasian Circa";
    src: url(../fonts/milasianCirca.ttf);
}

h1 {
    font-family: "Milasian Circa";
    /* color:#b6483e; */
    color: rgb(102, 102, 102);
    text-shadow: 0 1px 2px rgb(102, 102, 102);
    font-size: 500%;
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    background-image: url(../images/default/bg.jpg);
    background-color: #f2e6e6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
    
main {
    flex: 1 0 auto;
}
    

nav {
    height: 85px;
}

#logo {
    height:80px;
}

#nav-mobile li a {
    padding-top: 10px;
    padding-bottom: 10px; 
}

#dd1 li a {
    color:#b6483e;
}

.nav-wrapper {
    background-color: #c2cba7;
}

.page-footer {
    background-color: #c2cba7;
    padding-top: 0;
}

#ackermax {
    width: 20px;
    height: 20px;
}

.fa {
    color: black;
    width: 20px;
    margin: 2px;
}

.center-img {
    margin: 0 auto;
}

p {
    /* text-shadow: 0 .5px .5px black; */
    font-size: 125%;
    color: rgb(102, 102, 102);
    font-family: "Nanum";
}

p b {
    font-family: "Nanum bold";
    font-weight: bold;
}

.text-pad {
    padding: 0 25px 0 25px;
}
.divider {
    margin-left: 10px;
    margin-right: 10px; 
}

.brand-logo {
    margin-left: 15px;
}